<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
  The address of the house {{ full_address }} <br>
  The price of the house is {{ zestimate }} <br>
  The price of rent is {{ rent_zestimate }} <br>
  Square footage of the home is {{ home_size }} <br>
  Number of Bedrooms: {{ num_of_bedrooms }} <br>
  Number of Bathrooms: {{ num_of_bathrooms }} <br>
  Property Size: {{ home_size }} <br>
  Year Built: {{ year_built }} <br>
  Last Sold Price: {{ last_sold_price }} <br>
  Last Sold Date: {{ last_sold_date }} <br>
</body>
<img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_200x50.gif" alt="Zillow Real Estate Search" id="yui_3_18_1_1_1604064559756_67" width="200" height="50">
</html>
